body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #40415a;
  color: #fff
}

.wrapper {
  flex-grow: 1;
}

/* For smaller screens */
@media only screen and (max-width: 600px) {
  .container {
    width: 100%; /* Adjust container width for smaller screens */
    padding: 10px; /* Adjust padding for smaller screens */
  }
}

.container {
  width: 90%; /* Adjust container width to fit screen */
  margin: 0 auto;
  padding: 0 10px;
  overflow-x: auto; /* Add horizontal scrolling if needed */
}

nav {
  background-color: #33334d;
  padding: 10px 0;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-right: 20px;
}

nav ul li:last-child {
  margin-right: 0;
}

nav a {
  color: #d4d5e4;
}

.nav-h1 {
  color: #fff;
  text-decoration: none;
}

nav a:hover {
  color: #fff;
}

.nav-h1:hover {
  color: #d4d5e4;
}

#hero {
  padding: 100px 0;
  text-align: center;
}

#hero2 {
  padding-top: 20px;
  padding-bottom: 5px;
  text-align: center;
}

#features {
  padding: 50px 0;
  text-align: center;
}

.table-container {
  width: calc(100% - 10px);
  padding: 5px;
  box-sizing: border-box;
}

.database {
  width: 100%;
  max-width: 100%; /* Ensure table stays within container */
  border-collapse: collapse;
}


.data, th {
  padding: 10px;
  text-align: center;
  border: 1.5px solid #ddd;
  overflow: hidden; /* Hide overflowing text */
  text-overflow: ellipsis; /* Display ellipsis (...) for truncated text */
  white-space: nowrap; /* Prevent text from wrapping */
}

td {
  padding-top: 10px;
  color: #d4d5e4;
}

.truncate {
  display: inline-block;
  max-width: 150px; /* Adjust this value according to your preference */
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  text-align: center;
  margin-top: auto;
}

.truncate:hover {
  max-width: none;
  white-space: normal;
}

footer {
  background-color: #33334d;
  color: #d4d5e4;
  padding: 20px 0;
  text-align: center;
  margin-top: auto;
}
