body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f0f0f0;
}

.wrapper {
  flex-grow: 1;
}

/* For smaller screens */
@media only screen and (max-width: 600px) {
  .container {
    width: 100%; /* Adjust container width for smaller screens */
    padding: 10px; /* Adjust padding for smaller screens */
  }
}

.container {
  width: 90%; /* Adjust container width to fit screen */
  margin: 0 auto;
  padding: 0 20px;
  overflow-x: auto; /* Add horizontal scrolling if needed */
}

nav {
  background-color: #333;
  color: #fff;
  padding: 10px 0;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-right: 20px;
}

nav ul li:last-child {
  margin-right: 0;
}

nav a {
  color: #fff;
  text-decoration: none;
}

nav a:hover {
  color: #ddd;
}

#hero {
  padding: 100px 0;
  text-align: center;
}

#hero2 {
  padding: 25px 0;
  text-align: center;
}

#features {
  padding: 50px 0;
  text-align: center;
}

.table-container {
  width: calc(100% - 25px);
  padding: 10px;
  box-sizing: border-box;
}

.database {
  width: 100%;
  max-width: 100%; /* Ensure table stays within container */
  border-collapse: collapse;
}


.data {
  padding: 8px;
  text-align: center;
  border: 1px solid #ddd;
  overflow: hidden; /* Hide overflowing text */
  text-overflow: ellipsis; /* Display ellipsis (...) for truncated text */
  white-space: nowrap; /* Prevent text from wrapping */
}

/* Show full text on hover */
.data:hover {
  white-space: normal; /* Display full text on hover */
  overflow: visible;
  text-overflow: initial;
}

footer {
  background-color: #333;
  color: #fff;
  padding: 20px 0;
  text-align: center;
  margin-top: auto;
}
